<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.gmind7.devops.mybatis.TestMapper">
    
    <select id="selectTest" resultType="string">
        SELECT 1
    </select>
    
</mapper>