*.class

# Package Files #
*.ear'
/build
/bin
/out
*/build
*/bin
*/out

# IDE Files #
*.iml
.idea
.classpath
/.settings
.project
*/.settings

# Gradle Files #
/.gradle

# JRevel Files #
rebel.xml

# ETC Files #
.DS_Store
*.log